@import '../../global.scss';

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    left: 20px;

    & img {
        width: 20px;
        filter: invert(1);
    }
}

.search {
    --padding-left: 60px;

    height: 42px;
    width: calc(60% - var(--padding-left));
    background-color: #4d4c5b;
    border: 1px solid transparent;
    border-radius: 24px;
    padding-left: var(--padding-left);

    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;

    outline: none;
    transition: $timing;

    &::-webkit-input-placeholder {
        font-weight: 200;
        letter-spacing: 0.5px;
    }

    &:focus {
        border: 1px solid rgb(154, 154, 154);
        box-shadow: 1px 1px 2px rgba(21, 20, 26, 0.3);
    }
}
