@import '../../global.scss';

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.searchIcon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    left: 20px;

    & img {
        width: 20px;
        filter: invert(1);
    }
}

.search {
    --padding-left: 60px;

    height: 42px;
    width: calc(60% - var(--padding-left));
    background-color: $body-light;
    border: 1px solid transparent;
    border-radius: 24px;
    padding-left: var(--padding-left);
    margin-right: 20px;

    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;

    outline: none;
    transition: $timing;

    &::-webkit-input-placeholder {
        font-weight: 200;
        letter-spacing: 0.5px;
    }

    &:focus {
        border: 1px solid rgb(154, 154, 154);
    }
}

@media (max-width: $tablet-l) {
    .search {
        height: 36px;
    }
}

@media (max-width: $tablet-m) {
    .search {
        --padding-left: 50px;

        height: 34px;
        width: calc(100% - var(--padding-left));

        font-size: 1rem;
    }

    .searchIcon {
        & img {
            width: 16px;
        }
    }
}

@media (max-width: $tablet) {
    .search {
        margin-right: 0;
    }
}

@media (max-width: $mobile-m) {
    .search {
        height: 29px;

        font-size: 0.925rem;
    }

    .searchIcon {
        & img {
            width: 15px;
        }
    }
}
