@import '../../global.scss';

.navigation {
    margin-top: 8px;
    margin-right: -12px;
    margin-left: -12px;
    border-bottom: 1px solid rgba($body-font, 0.15);
}

.category {
    --size: 68px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    padding: 4px 0 12px 0;
    min-width: var(--size);
    max-width: var(--size);
    margin: 0 2px;

    &:first-child {
        margin-left: 6px;
    }

    &Icon {
        --icon-size: 42px;
        height: var(--icon-size);
        width: var(--icon-size);
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 12px;
        border: 1px solid rgba($body-font, 0.45);
        box-shadow: $left-side-bar-icon-shadow;

        & img {
            height: 16px;
            width: auto;
            max-width: 20px;
        }
    }

    &Name {
        display: inline-block;

        margin-top: 4px;
        max-width: var(--size);

        font-size: 0.875rem;
        color: $white-text;
        line-height: 1;
        font-weight: 400;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.active {
    border-bottom: 1px solid $gold;
}

.allIcon {
    background-color: $gold;

    & img {
        filter: none;
    }
}

@media (max-width: $mobile-l) {
    .category {
         &Icon {
            --icon-size: 38px;
        }
    }
}

@media (max-width: $mobile-m) {
    .navigation {
        margin-top: 6px;
    }

    .category {
        --size: 58px;

        margin: 0 4px;
        padding: 4px 0 8px 0;

        &Name {
            font-size: 0.805rem;
        }
    }
}
