@import '../../global.scss';

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3 - (var(--services-gap)/3*2));
    height: 234px;
    border-radius: 16px;
    transition: $timing;
    cursor: pointer;
    box-shadow: $service-shadow;

    &:hover {
        transform: scale(1.04);

        .black {
            opacity: 1;
        }
    }
}

.content {
    display: flex;

    padding: 0 40px;
    width: 100%;
    height: fit-content;
}

.logo {
    width: 100%;
    filter: drop-shadow(1px 1px 2px rgba(21, 20, 26, 0.75));
}

.black {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($black, 0.4);
    border-radius: 16px;
    opacity: 0;
    transition: $timing;
}

.tagsWrapper {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tagGreen {
    background: rgba($green, 0.9);

    & span {
        font-weight: 600;
    }
}

.tagGold {
    background: rgba($gold, 0.9);

    & span {
        font-weight: 600;
    }
}

@media (max-width: $desktop) {
    .wrapper {
        height: 210px;
    }

    .content {
        padding: 0 36px;
    }
}

@media (max-width: $tablet-l) {
    .wrapper {
        height: 170px;
    }

    .content {
        padding: 0 32px;
    }

    .tagsWrapper {
        margin: 0 18px 18px 18px;
    }
}

@media (max-width: $tablet-m) {
    .wrapper {
        height: 150px;
    }

    .content {
        padding: 0 28px;
    }

    .tagsWrapper {
        margin: 0 16px 16px 16px;
        gap: 3px;
    }

    .black {
        opacity: 1;
    }
}

@media (max-width: $tablet) {
    .wrapper {
        height: 160px;
    }

    .content {
        padding: 0 24px;
    }
}

@media (max-width: $mobile-l) {
    .wrapper {
        width: calc(100% / 2 - (var(--services-gap)/2));
        height: 180px;
    }
}

@media (max-width: $mobile-l) {
    .wrapper {
        height: 140px;
    }
}
