@import '../../global.scss';

.scrollable {
    padding: 2px 0;
}

.navigation {
    margin-top: 16px;
    margin-right: -12px;
    margin-left: -12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($body-font, 0.15);
}

.category {
    display: flex;
    align-items: center;
    text-decoration: none;

    padding: 9px 14px;
    border-radius: 12px;
    margin: 0 2px;

    border: 1px solid rgba($white-text, 0.12);
    box-shadow: $black-stripe;
    background-color: $left-side-bar-color;

    &:first-child {
        margin-left: 12px;
    }

    &Icon {
        display: flex;
        margin-right: 10px;

        & img {
            height: 16px;
            width: auto;
            filter: invert(1);
        }
    }

    &Name {
        display: flex;
        align-items: center;

        white-space: nowrap;
        font-size: 0.875rem;
        color: $white-text;
        line-height: 1;
        font-weight: 400;
    }
}

.gold {
    background-color: $white-text;
    border: 1px solid rgba($left-side-bar-color, 1);

    .categoryName {
        color: $left-side-bar-color;
    }
}
