@import '../../global.scss';

.icon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: $orange;
    border-radius: 12px;
    border: 1px solid rgba($body-font, 0.45);
    box-shadow: $left-side-bar-icon-shadow;

    & img {
        height: 20px;
        width: auto;
        filter: invert(1);
    }
}
