@import '../../global.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    width: var(--left-side-bar-width);
    height: 100%;

    background-color: $left-side-bar-color;
    box-shadow: $left-side-bar-shadow;
    border-right: 1px solid rgba($white-text, 0.05);
}

.content {
    padding: 20px 20px 34px 20px;
    height: 100%;
    overflow: auto;
}

.logo {
    display: flex;
    margin-bottom: var(--header-top-margin);

    & img {
        width: 100%;
        filter: drop-shadow(1px 1px 2px rgba($black, 0.15));
    }
}

@media (max-width: $tablet-l) {
    body {
        --left-side-bar-width: 240px;
    }

    .content {
        padding: 18px 16px 26px 16px;
    }
}

@media (max-width: $tablet-m) {
    body {
        --left-side-bar-width: 210px;
    }

    .content {
        padding: 16px 12px 20px 12px;
    }
}
