@import '../../global.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    width: $left-side-bar-width;
    height: 100%;

    background-color: $left-side-bar-color;
    box-shadow: $left-side-bar-shadow;
}

.content {
    padding: 20px 20px 34px 20px;
    height: 100%;
    overflow: auto;
}

.logo {
    margin-bottom: 30px;

    & img {
        width: 92%;
        filter: drop-shadow(1px 1px 2px rgba($black, 0.2));
    }
}
