@import '../../global.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    margin-top: var(--header-top-margin);
}

.child {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;

    margin-bottom: 18px;
    border-bottom: 1px solid #505050;
    padding-bottom: 6px;

    font-family: 'SF Pro Display', sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: $white-text;
}

.services {
    display: flex;
    flex-wrap: wrap;

    gap: var(--services-gap);
    margin-bottom: 30px;
}

.noServices {
    color: $white-text;
    font-size: 18px;
}

@media (max-width: $tablet-l) {
    .category {
        font-size: 1.875em;
    }

    .services {
        margin-bottom: 20px;
    }
}

@media (max-width: $tablet) {
    .category {
        margin-bottom: 14px;
    }
}

@media (max-width: $mobile-l) {
    .wrapper {
        padding: 0 12px 14px 12px;
    }

    .category {
        margin-left: 8px;
        margin-bottom: 6px;
        border: none;
    }

    .services {
        margin-bottom: 18px;
    }
}
