@import '../../global.scss';

.wrapper {
    display: flex;
    flex-wrap: wrap;

    gap: var(--services-gap);
    margin-top: var(--header-top-margin);
    padding-bottom: 30px;
}

.category {
    display: flex;
    align-items: center;
    text-decoration: none;

    padding: 10px 14px;
    border-radius: 10px;
    margin: 0 3px;

    background-color: rgba($white-text, 1);

    &:first-child {
        margin-left: 12px;
    }

    &Icon {
        display: flex;
        margin-right: 10px;

        & img {
            height: 16px;
            width: auto;
        }
    }

    &Name {
        display: flex;
        align-items: center;

        font-size: 0.875rem;
        color: $body;
        line-height: 1;
        font-weight: 400;
    }
}

.navigation {
    margin-top: 16px;
    margin-right: -12px;
    margin-left: -12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($body-font, 0.15);
}

@media (max-width: $desktop) {
    body {
        --services-gap: 22px;
    }
}

@media (max-width: $tablet-l) {
    body {
        --services-gap: 18px;
    }

    .wrapper {
        padding-bottom: 26px;
    }
}

@media (max-width: $tablet-m) {
    body {
        --services-gap: 14px;
    }

    .wrapper {
        padding-bottom: 22px;
    }
}

@media (max-width: $tablet) {
    body {
        --services-gap: 14px;
    }

    .wrapper {
        padding-bottom: 20px;
    }
}

@media (max-width: $mobile-m) {
    body {
        --services-gap: 12px;
    }
}
