@import '../../../global.scss';

.tag {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    padding: 0 16px;
    height: 30px;

    background: rgba($white, 0.2);
    line-height: 1;

    & span {
        font-size: 0.875rem;
        color: $white-text;
        font-weight: 300;
        text-shadow: $service-shadow;
        line-height: 0;
    }
}

@media (max-width: $tablet-m) {
    .tag {
        backdrop-filter: blur(2.25px);
    }
}
