@import '../../global.scss';

.core {
    margin-left: var(--left-side-bar-width);
    padding: 20px 36px;
}

@media (max-width: $desktop) {
    .core {
        padding: 18px 34px;
    }
}

@media (max-width: $tablet-l) {
    .core {
        padding: 16px 26px;
    }
}

@media (max-width: $tablet-m) {
    .core {
        padding: 14px 16px;
    }
}

@media (max-width: $mobile-l) {
    .core {
        padding: 0;
        margin-left: 0;
    }
}

@media (min-width: $desktop-m) {
    .core {
        height: fit-content;
    }
}

@media (min-width: $desktop-l) {
    .core {
        margin-left: 0;
    }
}
