@import './assets/fonts.scss';

// breakpoints

  $mobile: 360px;
  $mobile-m: 480px;
  $mobile-l: 640px;
  $tablet: 840px;
  $tablet-m: 1160px;
  $tablet-l: 1360px;
  $desktop: 1580px;
  $desktop-m: 1920px;
  $desktop-l: 2560px;

// colors

$gold: #e6c400;
$black: #000;
$white: #fff;
$white-text: #f1f1f1;
$orange: #ff7139;
$blue: #0060df;
$green: #00b104;
$purple: #6943b7;

$left-side-bar-color: #36343f;
$body: #42414d;
$body-font: #f5f5f7;

// shadows

$black-stripe: 0 0 2px rgba(21, 20, 26, 0.75);
$left-side-bar-shadow: 0 3px 8px rgba(21, 20, 26, 0.5), $black-stripe;
$left-side-bar-icon-shadow: 2px 3px 6px rgba(21, 20, 26, 0.15), $black-stripe;
$service-shadow: 0 2px 8px rgba(21, 20, 26, 0.3), $black-stripe;

// others

$timing: 0.2s;
