@import './assets/fonts.scss';
@import './global.scss';

:root {
    --services-gap: 24px;
    --left-side-bar-width: 270px;
    --font-size: 16px;
    --header-top-margin: 28px;
}

html,
#root {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    font-size: var(--font-size);
    background-color: $body;
    min-width: $mobile;
}

main {
    width: 100%;
    height: 100%;
}

@media (max-width: $desktop) {
    :root {
        --header-top-margin: 24px;
    }
}

@media (max-width: $tablet-m) {
    :root {
        --font-size: 14px;
        --header-top-margin: 18px;
    }
}

@media (max-width: $mobile-l) {
    :root {
        --font-size: 12px;
        --header-top-margin: 14px;
    }
}

@media (max-width: $mobile-m) {
    :root {
        --font-size: 10px;
    }
}

@media (min-width: $desktop-m) {
    main {
        display: flex;

        width: calc(1830px + var(--left-side-bar-width));
        margin: 0 auto;
    }
}

@media (min-width: $desktop-l) {
    main {
        height: auto;
    }
}
